DEBUG=True
SECRET_KEY="secure secret key"
DATABASE_URL=sqlite:///db.sqlite3

EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_HOST_USER=91ba5d001@smtp-brevo.com
EMAIL_HOST_PASSWORD=xsmtpsib-97ab5fce5638d53fc750752bd42375e7b612699ef5a0ce9ae746a6e178ff7896-iINpOcXJ66Pja7VF
DEFAULT_FROM_EMAIL=bhubanghimire3130@gmail.com
REFRESH_COOKIE_DOMAIN=https://martin-polo-produce-motor.trycloudflare.com/

